extends partial/layout

block content


    body
    // translate from html with https://pughtml.com/, god bless this website
    .main_about_area
        .row
            .col-sm-4
                .single_about_left
                    img(src='images/team.png', height='294px', width='292px')
                    .single_about_left_text
                        .separator2
                        h4(align='JUSTIFY')
                            | L&apos;amour des animaux, et plus particuli&egrave;rment des chiens, nous relie pour essayer de leur apporter modestement notre aide.
            .col-sm-6.col-sm-push-1
                .single_about
                    .separator2
                    .column(style='width:100%')
                        .column-content
                            .clearfix
                                | Une truffe et des pattes est une association de loi 1901 - ref
                                p
                                    b W563005925.
                                p
                                    | L&apos;association a &eacute;t&eacute; cr&eacute;&eacute;e par des&nbsp;passionn&eacute;s partageant les m&ecirc;mes    valeurs : le&nbsp;respect des animaux et des personnes.
                                p Nous souhaitons oeuvrer pour :&nbsp;
                                ul
                                    li le sauvetage et la mise sous protection de chiens de tout type et de    toute race se trouvant dans une situation de d&eacute;tresse et/ou de danger (maltraitance, abandon, absence de soin, errance, utilisation &agrave; des fins lucratives non autoris&eacute;e par la loi ou le r&egrave;glement)
                                    li la mise &agrave; l&rsquo;aboution des animaux qui sont sauv&eacute;s et/ou qui lui ont &eacute;t&eacute;    confi&eacute;s
                                    li l&rsquo;aide par tout moyen (financier, humain, mat&eacute;riel, psychologique) de    particulier &agrave; maintenir leur animal dans leur cadre de vie d&rsquo;origine.
                                    li Il est possible que, dans des cas particuliers, d&apos;autres type d&apos;animaux (chats, animaux de ferme, chevaux, rongeurs...) soient aussi prot&eacute;g&eacute;s et pris en charge par l&apos;association.
                    a.btn(href='contact') Nous contacter
    // End of col-sm-12
    .row-content
        h4.row-title Les statuts :
        .row
            .column(style='width:50%')
                .column-content
                    .clearfix
                    p &nbsp;
                    // lien des statuts sur sur le site actuel, possibilité de passer par ../assets/statuts/statut-truffe-et-pattes.pdf
                    p
                        img(alt='Statut truffe et pattes', src='http://truffeetpattes.e-monsite.com/medias/static/fileicon/pdf.png', width='16', height='16')
                        a(href='http://truffeetpattes.e-monsite.com/medias/files/statut-truffe-et-pattes.pdf', title='Statut truffe et pattes')  Statut truffe et pattes
                        |  (93.11 Ko)
    // End of row
    // End of Container
    // End of about Section
    #footer

