extends partial/layout

block content


    // translate from html with https://pughtml.com/, god bless this website
    .main_about_area
        .row
            .col-sm-12.col-sm-push-1
                .single_adopt
                    .separator2
                    .column(style='width:100%')
                        .column-content
                            #rows-56ab78496022566f8843280b.rows.clearfix(data-total-pages='1', data-current-page='1')
                                .row-container.page_1
                                    .row-content
                                        h2.row-title Une de nos truffes vous a fait craquer?
                                        .row
                                            .column(style='width:100%')
                                                .column-content
                                                    .clearfix
                                                        h4 Le processus d&apos;adoption est le suivant :&nbsp;
                                                        p &nbsp;
                                                        p
                                                            | Une de nos truffe vous a fait craquer? Vous     pouvez demander des informations en nous
                                                            a(href='contact.html') contactant
                                                            | .
                                                        ul
                                                            li
                                                                | Une pr&eacute;-visite sera faite chez vous afin de voir si votre offre d&apos;accueil correspond bien aux besoins de notre prot&eacute;g&eacute;. Si ce n&apos;est pas le cas nous pourrons peut-&ecirc;tre vous proposer un chien qui correspondra mieux &agrave; votre mode de vie.
                                                            li
                                                                | La contribution&nbsp;d&apos;adoption sera vers&eacute;e&nbsp;et un contrat de pr&eacute;-adoption (de 2 mois) sera sign&eacute; entre vous et l&apos;association.
                                                            li
                                                                | Le changement de propri&eacute;taire sur la carte ICAD se fera une fois&nbsp;l&apos;adoption     effective.
                                .row-container.page_1
                                    .row-content
                                        .row
                                            .column(style='width:100%')
                                                .column-content
                                                    .clearfix
                                                        p
                                                            span(style='color:#FFFFFF;')
                                                                span(style='background-color:#800080;') Contribution pour adoption&nbsp;:&nbsp;
                                                        p L&apos;association demande une contribution financi&egrave;re pour chaque adoption.
                                                        p
                                                            | Celle-ci est une
                                                            span(style='color:#800080;')
                                                                u
                                                                    strong action de solidarit&eacute;
                                                                |  sur l&apos;ensemble des animaux
                                                            |  qui permet de payer les frais inh&eacute;rents &agrave; leur prise en charge (frais v&eacute;t&eacute;rinaires et autres).
                                                        p
                                                            | Cette contribution&nbsp;d&eacute;pend&nbsp;de&nbsp;l&apos;&eacute;tat de sant&eacute; du chien, sa taille, son caract&egrave;re&nbsp;et son histoire.
                                                        p
                                                            strong Tous nos animaux sont vaccin&eacute;s et st&eacute;rilis&eacute;s
                                                            |  (ou devront l&apos;&ecirc;tre)
                                                        p &nbsp;
                                                        p
                                                            | Nos conditions&nbsp;d&apos;adoption&nbsp;:
                                                        p
                                                            | Nos truffes sont souvent issues de sauvetage et peuvent avoir eu un pass&eacute; malheureux. Afin de leur offrir une douce vie moelleuse, nous tenons aux quelques points suivants (issus du contrat en vue d&apos;adoption) :
                                                        ul
                                                            li
                                                                | ne pas lui infliger de mauvais traitements et lui fournir l&apos;attention et les soins n&eacute;cessaires &agrave; sa sant&eacute; et son bien-&ecirc;tre&nbsp;:
                                                                u Code Rural L214-1
                                                                | &nbsp; &laquo;&nbsp;
                                                                em
                                                                    | Tout animal &eacute;tant un &ecirc;tre sensible doit &ecirc;tre plac&eacute; par son propri&eacute;taire dans des conditions compatibles avec les imp&eacute;ratifs biologiques de son esp&egrave;ce&nbsp;&raquo;
                                                            li
                                                                | ne pas enfreindre les l&eacute;gislations de Protection Animale sous peine de poursuites judiciaires.
                                                            li
                                                                | bien traiter l&rsquo;animal et lui apporter    affection, nourriture, soins et habitat    convenables.
                                                                span(style='color:#800080;')
                                                                    strong
                                                                        | Il ne dormira pas dehors, ni dans le garage, ni en box, ne sera pas mis &agrave; l&rsquo;attache, ni en cage. Il ne portera pas de collier &eacute;lectrique ou autre dispositif susceptible de le blesser ou de le faire souffrir.
                                                            li
                                                                | &agrave; le munir d&rsquo;un collier avec une m&eacute;daille comportant le num&eacute;ro de t&eacute;l&eacute;phone de son propri&eacute;taire.
                                                            li
                                                                | &agrave; ne pas c&eacute;der, offrir, vendre l&rsquo;animal sans accord de l&rsquo;association.
                                                            li
                                                                | &agrave; pr&eacute;venir l&rsquo;association en cas de&nbsp;:
                                                                ul
                                                                    li
                                                                        | changement d&rsquo;adresse de l&rsquo;adoptant et faire le suivi n&eacute;cessaire aupr&egrave;s de l&rsquo;organisme charg&eacute; de la puce &eacute;lectronique,
                                                                    li d&eacute;c&egrave;s de l&rsquo;animal,
                                                                    li
                                                                        | fugue ou perte de l&rsquo;animal, afin de permettre &agrave; l&rsquo;association d&rsquo;aider aux recherches par des moyens ad&eacute;quats.
                                                            li
                                                                | accepter une ou plusieurs visites post-adoption.
                                                            li
                                                                | le cas &eacute;ch&eacute;ant, &agrave;
                                                                strong ne pas faire reproduire l&rsquo;animal
                                                                |  et &agrave; le faire st&eacute;riliser dans les meilleurs d&eacute;lais (maximum 10 mois apr&egrave;s l&apos;adoption, un certificat du v&eacute;t&eacute;rinaire sera demand&eacute;).
                                                            li
                                                                | A faire tous les rappels de vaccins garantissant le bon &eacute;tat sanitaire de l&rsquo;animal. Une photocopie du carnet de vaccination peut &ecirc;tre demand&eacute;e lors d&apos;un contr&ocirc;le de suivi.
                                                        p
                                                            strong
                                                                span(style='color:#800080;')
                                                                    | Pour le bien &ecirc;tre de l&apos;animal, il ne devra pas rester seul toute la journ&eacute;e sans &ecirc;tre sorti.
                                                        p &nbsp;
                                                        p
                                                            span(style='color:#800080;')
                                                                strong Conditions particuli&egrave;res de l&rsquo;adoption :
                                                        p
                                                            | Parfois malgr&eacute; toute la bonne volont&eacute; et l&apos;affection de part et&nbsp;d&apos;autre, un animal peut ne pas se plaire chez ses adoptants. Ou encore ceux-ci peuvent r&eacute;aliser que leur mode de vie ne lui convient pas. C&apos;est entre autre&nbsp;pour&nbsp;ces (rares) cas que&nbsp;nous avons mis en place un contrat de pr&eacute;-adoption.
                                                        p
                                                            | L&apos;adoption est effective et d&eacute;finitive 2 mois apr&egrave;s la signature du contrat de pr&eacute;-adoption (Le contrat devient alors tacitement un contrat d&apos;adoption). Elle peut &ecirc;tre rompue pendant ces 2 mois &agrave; la demande de l&apos;association ou des adoptants dans l&apos;int&eacute;r&ecirc;t de l&apos;animal. La contribution&nbsp;d&apos;adoption sera&nbsp;rembours&eacute;e&nbsp;si le contrat est rompu par l&apos;association.
                                                        p
                                                            | Si l&rsquo;adoptant est dans l&rsquo;obligation de se s&eacute;parer de l&rsquo;animal, il peut compter sur l&rsquo;Association pour reprendre le chien et s&rsquo;investir dans la recherche d&rsquo;une nouvelle famille. Il faudra laisser le temps &agrave; l&rsquo;association pour s&rsquo;organiser afin de trouver un accueil possible &agrave; l&rsquo;animal. Aucun remboursement&nbsp;ne pourra &ecirc;tre r&eacute;clam&eacute; &agrave; l&rsquo;Association.
                                .row-container.page_1
                                    .row-content
                                        .row
                                            .column(style='width:100%')
                                                .column-content
                                                    .text-center(data-widget='image')
                                                        a(title='Dogue de bordeaux 1047521 1280', href='https://form.jotformeu.com/60973927600359')
                                                            br
                                                            br
                                                            img.img-rounded(src='http://truffeetpattes.e-monsite.com/medias/images/dogue-de-bordeaux-1047521-1280.jpg?fx=r_600_399', alt='Dogue de bordeaux 1047521 1280', width='600', height='399')
                    br
                    br
                    a.btn.btn-default(href='') Nous contacter
    // End of col-sm-12
    // End of row
    // End of Container
    hr
    // End of adopt Section
    footer
        #footer
