extends layout

block content

    <body>

    <div class="main_about_area">
    <div class="row">
    <div class="col-sm-12 col-sm-push-1">
    <div class="single_adopt">
    <div class="separator2"></div>
    <div class="column" style="width:100%">
    <div class="column-content">
    <div id="rows-56ab78496022566f8843280b" class="rows clearfix" data-total-pages="1" data-current-page="1">
    <div class="row-container page_1">
    <div class="row-content">
    <h2 class="row-title">Une de nos truffes vous a fait craquer? </h2>
    <div class="row">
    <div class="column" style="width:100%">
    <div class="column-content">
    <div class="clearfix">
    <h4>Le processus d'adoption est le suivant :&nbsp;</span></span></h4>
    <p>&nbsp;</p>
    <p>Une de nos truffe vous a fait craquer? Vous     pouvez demander des informations en nous <a href="contact.html">contactant </a>.</p>


    <ul>
    <li>Une pré-visite sera faite chez vous afin de voir si votre offre d'accueil correspond bien aux besoins de notre protégé. Si ce n'est pas le cas nous pourrons peut-être vous proposer un chien qui correspondra mieux à votre mode de vie.
    </li>
    <li> La contribution&nbsp;d'adoption sera versée&nbsp;et un contrat de pré-adoption (de 2 mois) sera signé entre vous et l'association.</li>
    <li>Le changement de propriétaire sur la carte ICAD se fera une fois&nbsp;l'adoption     effective.&nbsp;
    </li>
    </ul>

    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="row-container page_1">
    <div class="row-content">
    <div class="row">
    <div class="column" style="width:100%">
    <div class="column-content">
    <div class="clearfix">
    <p><span style="color:#FFFFFF;"><span style="background-color:#800080;">Contribution pour adoption&nbsp;:&nbsp;</span></span>
    </p>

    <p>L'association demande une contribution financière pour chaque adoption.</p>

    <p>Celle-ci est une <span style="color:#800080;"><u><strong>action de solidarité</strong></u> sur l'ensemble des animaux</span> qui permet de payer les frais inhérents à leur prise en charge (frais vétérinaires et autres).
    </p>

    <p>Cette contribution&nbsp;dépend&nbsp;de&nbsp;l'état de santé du chien, sa taille, son caractère&nbsp;et son histoire.</p>

    <p><strong>Tous nos animaux sont vaccinés et stérilisés</strong></span> (ou devront l'être)</p>

    <p>&nbsp;</p>

    <p>Nos conditions&nbsp;d'adoption&nbsp;:&nbsp;
    </p>

    <p>Nos truffes sont souvent issues de sauvetage et peuvent avoir eu un passé malheureux. Afin de leur offrir une douce vie moelleuse, nous tenons aux quelques points suivants (issus du contrat en vue d'adoption) :&nbsp;</p>
    <ul>
    <li>ne pas lui infliger de mauvais traitements et lui fournir l'attention et les soins nécessaires à sa santé et son bien-être&nbsp;:
    <u>Code Rural L214-1</u>&nbsp; «&nbsp;<em>Tout animal étant un être sensible doit être placé par son propriétaire dans des conditions compatibles avec les impératifs biologiques de son espèce&nbsp;»</em>
    </li>
    <li>ne pas enfreindre les législations de Protection Animale sous peine de poursuites judiciaires.
    </li>
    <li>bien traiter l’animal et lui apporter    affection, nourriture, soins et habitat    convenables.<span     style="color:#800080;"><strong> Il ne dormira pas dehors, ni dans le garage, ni en box, ne sera pas mis à l’attache, ni en cage. Il ne portera pas de collier électrique ou autre dispositif susceptible de le blesser ou de le faire souffrir.</strong></span>
    </li>
    <li>à le munir d’un collier avec une médaille comportant le numéro de téléphone de son propriétaire.
    </li>
    <li>à ne pas céder, offrir, vendre l’animal sans accord de l’association.
    </li>
    <li>à prévenir l’association en cas de&nbsp;:
    <ul>
    <li>changement d’adresse de l’adoptant et faire le suivi nécessaire auprès de l’organisme chargé de la puce électronique,
    </li>
    <li>décès de l’animal,</li>
    <li>fugue ou perte de l’animal, afin de permettre à l’association d’aider aux recherches par des moyens adéquats.
    </li>
    </ul>
    </li>
    <li>accepter une ou plusieurs visites post-adoption.
    </li>
    <li>le cas échéant, à <strong>ne pas faire reproduire l’animal</strong> et à le faire stériliser dans les meilleurs délais (maximum 10 mois après l'adoption, un certificat du vétérinaire sera demandé).
    </li>
    <li>A faire tous les rappels de vaccins garantissant le bon état sanitaire de l’animal. Une photocopie du carnet de vaccination peut être demandée lors d'un contrôle de suivi.
    </li>
    </ul>

    <p><strong><span style="color:#800080;">Pour le bien être de l'animal, il ne devra pas rester seul toute la journée sans être sorti.&nbsp;</span></strong>
    </p>

    <p>&nbsp;</p>

    <p><span style="color:#800080;"><strong>Conditions particulières de l’adoption :</strong></span>
    </p>

    <p>Parfois malgré toute la bonne volonté et l'affection de part et&nbsp;d'autre, un animal peut ne pas se plaire chez ses adoptants. Ou encore ceux-ci peuvent réaliser que leur mode de vie ne lui convient pas. C'est entre autre&nbsp;pour&nbsp;ces (rares) cas que&nbsp;nous avons mis en place un contrat de pré-adoption.&nbsp;</p>
    <p>L'adoption est effective et définitive 2 mois après la signature du contrat de pré-adoption (Le contrat devient alors tacitement un contrat d'adoption). Elle peut être rompue pendant ces 2 mois à la demande de l'association ou des adoptants dans l'intérêt de l'animal. La contribution&nbsp;d'adoption sera&nbsp;remboursée&nbsp;si le contrat est rompu par l'association.</p>
    <p>Si l’adoptant est dans l’obligation de se séparer de l’animal, il peut compter sur l’Association pour reprendre le chien et s’investir dans la recherche d’une nouvelle famille. Il faudra laisser le temps à l’association pour s’organiser afin de trouver un accueil possible à l’animal. Aucun remboursement&nbsp;ne pourra être réclamé à l’Association.</p>

    </div>
    </div>
    </div>

    </div>
    </div>
    </div>

    <div class="row-container page_1">
    <div class="row-content">
    <div class="row">
    <div class="column" style="width:100%">
    <div class="column-content">
    <div data-widget="image" class="text-center">
    <a title="Dogue de bordeaux 1047521 1280" href="https://form.jotformeu.com/60973927600359">
    <br> </br><img class="img-rounded" src="http://truffeetpattes.e-monsite.com/medias/images/dogue-de-bordeaux-1047521-1280.jpg?fx=r_600_399" alt="Dogue de bordeaux 1047521 1280" width="600" height="399">
    </a>
    </div>
    </div>
    </div>

    </div>
    </div>
    </div>


    </div>
    </div>
    </div>
    <br></br>
    <a href="" class="btn btn-default">Nous contacter</a>
    </div>
    </div>

    </div>
    </div>
    </div><!-- End of col-sm-12 -->

    </div><!-- End of row -->


    </div><!-- End of Container -->
    <hr/>

    </section><!-- End of adopt Section -->
    <footer>
    <div id="footer">
    </div>
    </footer>
    </body>
    </html>