extends partial/layout

block content


    // translate from html with https://pughtml.com/, god bless this website
    .row
        .contact_contant
            .col-sm-6.col-xs-12
                .single_message_right_info
                    ul
                        li
                            i.fa.fa-map-marker
                            span 2 rue de Crec&apos;h reut, 22 610 Pleubian
                        li
                            i.fa.fa-mobile-phone
                            span 06.59.02.07.16
                        li
                            i.fa.fa-envelope-o
                            span unetruffeetdespattes@gmail.com
                    .work_socail.transition
                        a(href='https://www.facebook.com/groups/unetruffeetdespattes/')
                            i.fa.fa-facebook.img-circle
            // End of col-sm-6
            .col-sm-6.col-xs-12
                .single_contant_left.margin-top-60
                    form#formid(action='#')
                        // <div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
                        .form-group
                            label nom
                            input.form-control(type='text', name='name', required='')
                        .form-group
                            label e-mail
                            input.form-control(type='email', name='email', required='')
                        .form-group
                            label votre message
                            textarea.form-control(name='message', rows='8')
                        div
                            input.btn(type='submit', value='envoyer')
                        // </div>
        // End of messsage contant
    // End of row
    // End of container
    // End of contact Section
