extends layout

block content

    // translate from html with https://pughtml.com/, god bless this website
    // About Section
    .container
        .col-sm-12
            .main_about_area
                .row
                    .col-sm-4
                        .signle_about_left
                            img(src='images/oscar-fiche-1.jpg', width='292')
                    .col-sm-6.col-sm-push-1
                        .single_about
                            .separator2
                            .column(style='width:100%')
                                .column-content
                                    .clearfix
                                        div
                                            table.table
                                                thead
                                                    // En-tête du tableau
                                                    tr
                                                        th(scope='col') Nom
                                                        th(scope='col') Race
                                                        th(scope='col') Genre
                                                        th(scope='col') Couleur
                                                        th(scope='col') Age
                                                        th(scope='col') Sociabilit&eacute;
                                                        th(scope='col') Frais d&apos;adoption
                                                        th(scope='col') Autre
                                                tbody
                                                    // data
                                                    tr
                                                        td Oscar
                                                        td X pinscher
                                                        td M&acirc;le
                                                        td Fauve
                                                        td N&eacute; le 20 janvier 2019
                                                        td Ok tout
                                                        td 190 euros + ch&egrave;que de caution de 300 euros qui sera d&eacute;truit &agrave; la st&eacute;rilisation
                                                        td Vaccin&eacute; , puc&eacute;
                            a.btn.btn-default(href='') Adopter
        // End of col-sm-12
    // End of Container
    // End of about Section
