extends layout

block content

    // translate from html with https://pughtml.com/, god bless this website
    // About Section
    .container
        .col-sm-12
            .main_about_area
                .row
                    .col-sm-4
                        .signle_about_left
                            img(src='images/oscar-fiche-1.jpg', width='292')
                    .col-sm-6.col-sm-push-1
                        .single_about
                            .separator2
                            .column(style='width:100%')
                                .column-content
                                    .clearfix
                                        div
                                            table.table
                                                tr
                                                    th Nom
                                                    td Oscar
                                                tr
                                                    th Race
                                                    td X pinscher
                                                tr
                                                    th Genre
                                                    td M&acirc;le
                                                tr
                                                    th Couleur
                                                    td Fauve
                                                tr
                                                    th Age
                                                    td N&eacute; le 20 janvier 2019
                                                tr
                                                    th Sociabilit&eacute;
                                                    td Ok tout
                                                tr
                                                    th Frais d&apos;adoption
                                                    td 190 euros + ch&egrave;que de caution de 300 euros qui sera d&eacute;truit &agrave; la st&eacute;rilisation
                                                tr
                                                    th Autre
                                                    td Vaccin&eacute; , puc&eacute;
                            a.btn.btn-default(href='') Adopter
        // End of col-sm-12
    // End of Container
    // End of about Section


