extends layout

block content


    // translate from html with https://pughtml.com/, god bless this website
    section#work.work.sections
        .container
            .row
                .main_mix_content.text-center.margin-top-30
                    table
                        tr
                            .col-sm-4.col-xs-12.mix.category-2
                                a(href='dog.html')
                                    img(src='images/oscar-avatar.jpg', alt='oscar')
                        tr
                            .col-sm-4.col-xs-12.mix.category-2
                                a(href='dog.html')
                                    img(src='images/oscar-avatar.jpg', alt='oscar')
            // End of row
        // End of Contaier
    // End of portfolio Section
