extends layout

block content
    body
    div(class="col-md-4")
        h2 Créer un compte
        form(action="/users/create", method="post", class="well")
            div(class="form-group")
                label(for="username")
                    | Votre nom
                input(type="text", name="username", class="form-control")
            input(type="submit" class="btn btn-default")

    div(class="col-md-6")
        h2 Liste des utilisateurs

        ul
            each user in users
                li
                    strong
                        = user.username
                    | &nbsp;
                    a(href="/users/" + user.id + "/destroy", class="btn btn-xs btn-warning") supprimer

                    ul
                        li
                            |
                            br
                            h4 Comment s'appelle le chien que vous désirez adopter ?
                            form(action="/users/" + user.id + "/adoptions/create", method="post", class="form-inline")
                                div(class="form-group")
                                    input(type="text", name="title", class="input-sm form-control")
                                    input(type="submit", class="btn btn-sm btn-default")
                        each adoption in user.Adoptions
                            li
                                strong
                                    = adoption.title
                                | &nbsp;
                                a(href="/users/" + user.id + "/adoptions/" + adoption.id + "/destroy",  class="btn btn-xs btn-warning") supprimer
    body