extends layout

block content


    <body>
    <section id="aboutus" class="aboutus margin-top-120"><div class="container"><div class="row">
    <div class="col-sm-12"><div class="head_title text-center margin-top-80"><h1>Demandes à valider</h1>
    </div><!-- End of head title -->
    <div>

    <table class="table">

    <thead> <!-- En-tête du tableau -->

    <tr>

    <th scope="col">Nom animal</th>

    <th scope="col">Prénom</th>

    <th scope="col">facebook</th>

    <th scope="col">Date de naissance</th>

    <th scope="col">Adresse</th>

    <th scope="col">Maison</th>

    <th scope="col">Portable</th>

    <th scope="col">lieu</th>

    <th scope="col">email</th>

    <th scope="col">bloque</th>

    <th scope="col">prévisite FA</th>

    <th scope="col">FA</th>

    <th scope="col">Statuts</th>

    </tr>

    </thead>



    <tbody> <!-- data -->

    <tr>

    <td>Simpson</td>

    <td>Homer</td>

    <td>test</td>

    <td>12.20.1956</td>

    <td>Rue de truc 24, 45832 Vannes</td>

    <td>Maison</td>

    <td>Portable</td>

    <td>lieu</td>

    <td>email</td>

    <td>bloque</td>

    <td>prévisite FA</td>

    <td>FA</td>

    <td>Statuts</td>

    </tr>



    </tbody>

    </table>

    </div>



    </div><!-- End of col-sm-12 -->





    </div><!-- End of row -->





    </div><!-- End of Container -->

    <hr/>



    </section><!-- End of about Section -->
    </body>