extends partial/layout

block content

    // translate from html with https://pughtml.com/, god bless this website
    section#aboutus.aboutus.margin-top-120
        .container
            .row
                .col-sm-12
                    .head_title.text-center.margin-top-80
                        h1 Demandes &agrave; valider
                    // End of head title
                    div
                        table.table
                            thead
                                // En-tête du tableau
                                tr
                                    th(scope='col') Nom animal
                                    th(scope='col') Pr&eacute;nom
                                    th(scope='col') facebook
                                    th(scope='col') Date de naissance
                                    th(scope='col') Adresse
                                    th(scope='col') Maison
                                    th(scope='col') Portable
                                    th(scope='col') lieu
                                    th(scope='col') email
                                    th(scope='col') bloque
                                    th(scope='col') pr&eacute;visite FA
                                    th(scope='col') FA
                                    th(scope='col') Statuts
                            tbody
                                // data
                                tr
                                    td Simpson
                                    td Homer
                                    td test
                                    td 12.20.1956
                                    td Rue de truc 24, 45832 Vannes
                                    td Maison
                                    td Portable
                                    td lieu
                                    td email
                                    td bloque
                                    td pr&eacute;visite FA
                                    td FA
                                    td Statuts
                // End of col-sm-12
            // End of row
        // End of Container
        hr
    // End of about Section
