extends partial/layout

block content

header#main_menu.header.navbar-fixed-top
    #header
// End of header
section#aboutus.aboutus.margin-top-120
    | |
    .container
        .row
            .col-sm-12
                .head_title.text-center.margin-top-80
                    h1 V&eacute;t&eacute;rinaires enregistr&eacute;es
                // End of head title
                div
                    table.table
                        thead
                            // En-tête du tableau
                            tr
                                th(scope='col') Nom
                                th(scope='col') Prenom
                                th(scope='col') Nom du cabinet
                                th(scope='col') Adresse
                                th(scope='col') Localite
                                th(scope='col') NPA
                                th(scope='col') T&eacute;l&eacute;phone
                                th(scope='col') Courriel
                        tbody
                            // data
                            tr
                                td Simpson
                                td Homer
                                td Spring field vets
                                td 12.20.1956
                                td Spring field
                                td 12554
                                td +1 414548 58
                                td homer@veto.com
            // End of col-sm-12
        // End of row
    // End of Container
    hr