extends partial/layout

block content

<body>
<header id="main_menu" class="header navbar-fixed-top">
<div id="header"></div>
</header> <!--End of header -->
<section id="aboutus" class="aboutus margin-top-120">|
<div class="container"><div class="row">         <div class="col-sm-12">                 <div class="head_title text-center margin-top-80">
<h1>Vétérinaires enregistrées</h1>
</div><!-- End of head title -->

<div>

<table class="table">

<thead> <!-- En-tête du tableau -->

<tr>

<th scope="col">Nom</th>

<th scope="col">Prenom</th>

<th scope="col">Nom du cabinet</th>

<th scope="col">Adresse</th>

<th scope="col">Localite</th>

<th scope="col">NPA</th>

<th scope="col">Téléphone</th>

<th scope="col">Courriel</th>

</tr>

</thead>



<tbody> <!-- data -->

<tr>

<td>Simpson</td>

<td>Homer</td>

<td>Spring field vets</td>

<td>12.20.1956</td>

<td>Spring field</td>

<td>12554</td>

<td>+1 414548 58</td>

<td>homer@veto.com</td>

</tr>
</tbody>
</table>
</div>

</div><!-- End of col-sm-12 -->
</div><!-- End of row -->


</div><!-- End of Container -->

<hr/>

</body>