doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/responsive.css')
        link(rel='stylesheet', href='/stylesheets/slider-pro.css')
        //script (src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

            // translate from html with https://pughtml.com/, god bless this website


    header
        .main_menu_bg
            .container
                .row
                    .nave_menu
                        nav#navmenu.navbar.navbar-default
                            .container-fluid
                                // Brand and toggle get grouped for better mobile display
                                .navbar-header
                                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse navbar-collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                                        span.sr-only Toggle navigation
                                        span.icon-bar
                                        span.icon-bar
                                        span.icon-bar
                                    a.navbar-brand(href='index')
                                        img(src='images/logo.png', height='48', width='48', style='margin: 0')
                                // Collect the nav links, forms, and other content for toggling
                                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                                    ul.nav.navbar-nav.navbar-right
                                        li
                                            a(href='about')
                                                | &Agrave; propos
                                                propos
                                        li.dropdown
                                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true') services
                                            ul.dropdown-menu
                                                li
                                                    a(href='service.html') service page
                                                li
                                                    a(href='service1.html') service page two
                                        li.dropdown
                                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true') works
                                            ul.dropdown-menu
                                                li
                                                    a(href='index') work page
                                                li
                                                    a(href='index') work page Two
                                        li.dropdown
                                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true') blog
                                            ul.dropdown-menu
                                                li
                                                    a(href='blog.html') blog page
                                                li
                                                    a(href='bloginner.html') singleblog page
                                        li
                                            a(href='dogs') chiens
                                        li
                                            a(href='contact') contact
                                        // gestion du login
                                        li
                                            a(onclick="document.getElementById('id01').style.display='block'") Se connecter
                                            #id01.modal
                                                form.modal-content.animate
                                                    // action="/action_page.php"
                                                    .imgcontainer
                                                        span.close(onclick="document.getElementById('id01').style.display='none'") &times;
                                                        label(for='uname')
                                                            b Utilisateur
                                                        input.form-control(type='text', placeholder="Nom d'utilisateur", name='uname', required='')
                                                        label(for='psw')
                                                            b Mot de passe
                                                        input.form-control(type='password', placeholder='Mot de passe', name='psw', required='')
                                                        div(style='text-align: center')
                                                            button.btn(type='submit') Connexion
                                                            br
                                                            br
                                                            label
                                                                input(type='checkbox', checked='checked', name='remember')
                                                                | Se souvenir de moi
                                                            br
                                                            br
                                                        //--.avatar(<img='', src='../assets/images/logo.png', width='100px', height='90%', alt='Avatar', style='text-align: center')
                                                        | --&gt;
                                                        div(style='background-color:#f1f1f1;padding: 16px; vertical-align: center')
                                                            button.btn(type='button', onclick="document.getElementById('id01').style.display='none'") Annuler
                                                            span.psw
                                                                a(href='#') Mot de passe oubli&eacute;?
                                            script.


        // Get the modal
        var modal = document.getElementById('id01');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) { if (event.target == modal) {modal.style.display = "none";}}
    // about Section
    section#aboutus.aboutus.margin-top-120
        .container
            .row
                .col-sm-12
                    .head_title.text-center.margin-top-80

        h1= title
        </div><!-- End of head title -->


    body
        block content


    footer
    .main_menu_bg
        .container
            .row
                .nave_menu
                    nav#navmenu.navbar.navbar-default
                        .container-fluid
                            .container-fluid.text-left.text-md-left
                                p Posted by: TruffSA
                                p
                                    | Contact information:
                                    a(href='mailto:nicolas.solioz@bluewin.ch') info@truffespattes.ch
                                    | .




